.background {
	background: #8FF2FF;
/* background: rgb(200,54,73);
background: linear-gradient(90deg, rgba(200,54,73,1) 0%, rgba(79,138,207,1) 100%); */
}

*{
	margin:0;

	padding:0;
}

body, html{
	height:100%;
}

body{
	background: #FF8FBA;
/* background: rgb(200,54,73);
background: linear-gradient(90deg, rgba(200,54,73,1) 0%, rgba(79,138,207,1) 100%); */
}

div.tchouCoinWallet {
	position:sticky;
	top: 0;
	border: 1px solid #FFD48F;
	border-radius: 8px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background-color: #FFD48F;
  }